@keyframes tilt {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
    
}

.animate-spin-slow {
    animation: tilt 3s ease-in-out infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.animate-spin{
    animation: spin 9s ease-in-out infinite;
}

.mySwiper {
    max-width: 1280px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #34ae9f  !important; /* Cambia a tu color deseado */
    opacity: 1; /* Asegúrate de que sean visibles */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #217a6f !important; /* Cambia el color al pasar el mouse si lo deseas */
}